@{
    ViewData["Title"] = "Home Page";
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ahtapot Bütünleşik Siber Güvenlik Sistemi</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    
    
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Neden Ahtapot?</h2>
                    <p class="text-white-50">
                        TÜBİTAK - ULAKBİM himayesinde geliştirilen,
                        Pardus/Linux işletim sisteminin alt projelerinden biri olan Ahtapot BSGS kendisini kanıtlamış,
                        açık kaynak siber güvenlik çözümüdür.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="img/banner1.png" alt="..." />
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <blockquote class="blockquote text-center">
                <h1 class="mb-5 mt-5">Ahtapot BSGS Kurumsal Uygulama</h1>  
            </blockquote>
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="img/01.png" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Pardus Ahtapot</h4>
                        <p class="text-black-50 mb-0">Ahtapot Bütünleşik Siber Güvenlik Sistemi</p>
                    </div>
                </div>
            </div>
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="img/02.png" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Açık Kaynak</h4>
                        <p class="text-black-50 mb-0">Ahtapot Bütünleşik Siber Güvenlik Sistmei, çok katmanlı mimariye sahiptir. Çok katmanlı mimari, her ağ katmanında farklı güvenlik çözümleri sunarak, bu çözümlerin bağımsız kurulum ve konfigürasyonu ile, modüler bir yapı da sağlamaktadır.</p>
                    </div>
                </div>
            </div>
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="img/03.png" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Kurumsal Destek</h4>
                        <p class="text-black-50 mb-0">Ahtapot BSGS, farklı güvenlik sistemleri ile de entegre çalışabilir. Bu özelliği sayesinde, hibrit kurulumlara da izin verir.</p>
                    </div>
                </div>
            </div>
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="img/04.png" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Pardus Altyapısı</h4>
                        <p class="text-black-50 mb-0">Ahtapot BSGS farklı kurulum senaryolarına izin verir. İster özelleştirilmiş Fiziksel Cihaz, ister mevcut sunucu ya da sanallaştırma platformlarına kurulum, isterseniz de bazı bileşenler için Pardus Bulut üzerinden servis olarak temin edilebilmektedir.</p>
                    </div>
                </div>
            </div>
            <blockquote class="blockquote text-center">
                <h1 class="mb-5 mt-5">Ahtapot Kurulum Aşamaları</h1>
            </blockquote>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s1.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Önyükleme Menüsü </h4>
                                <p class="mb-0 text-white-50">Bu Ahtapot kurulumunun ilk aşamasında kurulum seçeneklerinden bize uygun olanı seçiyoruz. Grafik arayüz ile olanı kur, yeni kullanıcılar için daha kullanışlı.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s2.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Dil Seçimi</h4>
                                <p class="mb-0 text-white-50">Kurulum aşamasında kullanmak istediğimiz dili belirliyoruz.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s3.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Ağ yapılandırma</h4>
                                <p class="mb-0 text-white-50">Kurulacak cihazın bağlı oldupu ağın Ip adresini giriyoruz.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s4.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Ağ Maskesi</h4>
                                <p class="mb-0 text-white-50">Yerel ağ içinde hangi makinelerin kurulu olduğunu belirlemek için Ağ maskesini giriyoruz.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s5.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">IP Adresi</h4>
                                <p class="mb-0 text-white-50">Ağ geçidi Ip adresini giriyoruz. Bu adres geçit yönlendiricisini belirtir.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s6.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Makine Adı</h4>
                                <p class="mb-0 text-white-50">Makinemizi tanımlayan bir ad belirliyoruz ve giriyoruz.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s7.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Disk Bölümü</h4>
                                <p class="mb-0 text-white-50">Dosyaların kurulumu için disk bölümünü belirliyoruz.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s8.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Sistem Kurulumu</h4>
                                <p class="mb-0 text-white-50">Sistem kurulumu yüklenme ekranı.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s9.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">GRUB Önyükleyici</h4>
                                <p class="mb-0 text-white-50">Bu aşamada önyükleyici bir diske kuruyoruz. Birincil sabit diskin ana yükleme kaydına kurmak en optimal yoldur.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s10.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Kurulum Bitirme</h4>
                                <p class="mb-0 text-white-50">Kurulumun tamamlanma/yüklenme ekranı.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s11.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Şifre Girişi Ve Belirleme</h4>
                                <p class="mb-0 text-white-50">Bu aşamada default olarak gelen giriş bilgilerini giriyoruz (ahtapotops - LA123) Daha sonra şifremizi değiştirip default değerleri değiştiriyoruz.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="img/s12.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Sisteme Kullanıcı Girişi</h4>
                                <p class="mb-0 text-white-50">Değiştirdiğimiz yeni şifremiz ile makinemize giriş yapabiliriz. Tebrikler</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>

                </div>
                <blockquote class="blockquote text-center">
                    <h1 class="mb-0 mt-5">Ahtapot Bileşenleri</h1>
                    <p>Ahtapot BSGS tümleşik bir güvenlik çözümü sunar. Çok katmanlı mimari sayesinde her ağ katmanına yönelik güvenlik çözümlerini ister bir arada, isterseniz ihtiyacınıza göre yapılandırıp kullanabilirsiniz</p>
                </blockquote>
                <div class="card border-light text-white bg-dark  mt-5 mx-5" style="width: 18rem;">
                    <img src="/img/dns.png" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title, text-info">DNS Güvenlik Duvarı</h5>
                        <p class="card-text">DNS Güvenlik duvarı ile, zararlı içerik yayınlayan sitelere erişimi engelleyin.</p>
                        
                    </div>

                </div>
                <div class="card border-light text-white bg-dark  mt-5 mx-5" style="width: 18rem;">
                    <img src="/img/ageris.png" class="card-img-top"  >
                    <div class="card-body">
                        <h5 class="card-title, text-info">Ağ Erişim Kontrol Sistemi</h5>
                        <p class="card-text">Ağınızı kontrol altına alarak, yabancı cihazların bağlanmasını engelleyin, tam denetim sağlayın.</p>

                    </div>
                </div>
                <div class="card border-light text-white bg-dark  mt-5 mx-5" style="width: 18rem;">
                    <img src="/img/eposta.png" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title, text-info">Eposta Güvenlik Sistemi</h5>
                        <p class="card-text">Epostalarınızı spam ve virus tehditlerine karşı koruyun.</p>

                    </div>
                </div>
                <div class="card border-light text-white bg-dark  mt-5 mx-5" style="width: 18rem;">
                    <img src="/img/guvenlıkduvar.png" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title, text-info">Güvenlik Duvarı</h5>
                        <p class="card-text">Statefull güvenlik duvarı ile IPS entegre çalışarak, potansiyel tehditleri tespit edip, engelleyin.</p>
                        
                    </div>
                </div>
                <div class="card border-light text-white bg-dark  mt-5 mx-5" style="width: 18rem;">
                    <img src="/img/webuyg.png" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title, text-info">Web Uygulama Güvenlik Duvarı</h5>
                        <p class="card-text">Web servislerinizi Web Uygulama güvenlik duvarı ile sezgisel koruma altına alın.</p>

                    </div>
                </div>
                <div class="card border-light text-white bg-dark  mt-5 mx-5" style="width: 18rem;">
                    <img src="/img/guvenlınet.png" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title, text-info">Güvenli İnternet Erişim</h5>
                        <p class="card-text">Kurumunuzdaki internet erişimini denetleyip, kayıt altına alarak, zararlı bağlantılardan sakının.</p>

                    </div>
                </div>
                </div>
            </div>
            

    </section>

    <!-- Contact-->
    <section class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Adres</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">Yüzüncüyıl, İşçi Blokları Mah. Muhsin Yazıcıoğlu Cad. No:51/C  06530 Çankaya / ANKARA</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">E-mail</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50"><a href="#!">ahtapot@pardus.org.tr</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Telefon</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">444 5 773</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </section>
   
</body>
</html>


