@{
    ViewData["Title"] = "User Page";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ahtapot Bütünleşik Siber Güvenlik Sistemi</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="~/js/scripts.js"></script>
</head>
<body id="page-top">


    
    
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <blockquote class="blockquote text-center">
                <h1 class="mb-5 mt-5">Karşılaşılan Sorunlar</h1>
            </blockquote>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="/img/http.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <p class="text-info">Depo adreslerinde HTTP ile kurulum sağlanması güvenli midir? HTTPS desteklenmesi halinde neden http kaynaklı yükleme gerçekleşiyor?</p>
                                <p class="text-white">Pardus imzası ile imzalandığından manipüle edilen bir paket apt tarafından kurulmayacaktır. Depolar hem HTTP hem de HTTPS üzerinden sunulmaktadır. Yükleme esnasında HTTPS adresini elinizle girip indirmeyi de sağlayabilirsiniz. Lakin HTTPS reposu kullanacaksanız birkaç adımı takip edip, bu paketleri bilgisayarınıza/makinenize kurmanız gerekmektedir; </p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="/img/isoAhtapot.jpg" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                               
                                <p class="text-info">Pardus Ahtapot ISO 17 kurulumunda, disk bölümleme hatası ile karşılaşınca ne yapılmalı?</p>
                                <p class="text-white">
                                    -    Yükleme yapılan sanal makinanın/bilgisayarın/sunucunun kurulum dosyasının boyutuna dikkat edilmelidir.
                                    -    BIOS UEFI özelliğinin olmasıdır.
                                    -    Yüklenecek dosya dizinin otomatik olarak sistem tarafından seçilmesine izin verilmelidir.
                                </p>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="/img/sertifika.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                
                                <p class="text-info">Ahtapot’u kurarken nelere dikkat etmeliyim?</p>
                                <p class="text-white">Sertifika Otoritesini (CA) mutlaka yüklemeniz gerekmektedir. Bu sertifika sayesinde istenilen güvenlik sisteminin (MYS, GDYS vb.) kurumunda başarıyla sonuçlandırabilirsiniz.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="/img/lock.jpg" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                
                                <p class="text-info">Merkezi Yönetim Sistemi (MYS) nedir ve bileşenleri ayrı ayrı sunuculara mı kurmak gerekir yoksa tek bir sunucu içine kurabilir miyiz?</p>
                                <p class="text-white">Merkezi Yönetim Sistemi, tüm ahtapot bileşenlerinin kurulum ve konfigürasyonları ve yönetimi için bulunmaktadır. Ahtapot Bileşenlerinin pek çoğu aynı makina üzerine kurulabilir. SIEM, NAC bileşenleri harici tüm bileşenler, sistem yöneticiliği ve network bilginize bağlı olarak aynı sunucuya dahi kurulabilir.</p>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>

    <!-- Contact-->
    <section class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Adres</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">Yüzüncüyıl, İşçi Blokları Mah. Muhsin Yazıcıoğlu Cad. No:51/C  06530 Çankaya / ANKARA</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">E-mail</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50"><a href="#!">ahtapot@pardus.org.tr</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Telefon</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">444 5 773</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </section>

</body>
</html>



